<h1>Employee List</h1>

<table class="table table-hover">
     <thead>
       <tr>
         <th scope="col">Employee Id</th>
         <th scope="col">First Name</th>
         <th scope="col">Last Name</th>
         <th scope="col">Email</th>
         <th scope="col">Actions</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let emp of employees">
          <td>{{emp.id}}</td>
         <td>{{emp.firstName}}</td>
         <td>{{emp.lastName}}</td>
         <td>{{emp.email}}</td>
         <td>
            <button (click)="updateEmployee(emp.id)" class="btn btn-info"> Edit</button>
            <button (click)="deleteEmployee(emp.id)" class="btn btn-danger" style="margin-left: 10px;"> Delete</button>
         </td>
         
       </tr>
    
     </tbody>
   </table>

   <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">KARIM ABOU AGIZA</h5>
      <p class="card-text">ALL RIGHTS REVERESED 2023 @ x_karim30.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
